<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88061772717-ku69e9mhsqm4j9k1nms7ablskn1auh1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88061772717-ku69e9mhsqm4j9k1nms7ablskn1auh1h</string>
	<key>API_KEY</key>
	<string>AIzaSyCSnJiIb6TkyMbhs7IVVq5ifa_tVFSNhGM</string>
	<key>GCM_SENDER_ID</key>
	<string>88061772717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gdsc1</string>
	<key>PROJECT_ID</key>
	<string>metta-87b5e</string>
	<key>STORAGE_BUCKET</key>
	<string>metta-87b5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88061772717:ios:3a8048624e257eabc19724</string>
	<key>DATABASE_URL</key>
	<string>https://metta-87b5e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>